<!--
 * @Author: hechenglong kfhechenglong@126.com
 * @Date: 2023-04-07 15:48:23
 * @LastEditors: hechenglong kfhechenglong@126.com
 * @LastEditTime: 2023-04-10 17:57:48
 * @FilePath: \node\koa\templates\post.ejs
 * @Description: 详情页面
-->

<div>
  <h1> <%= post.title %> </h1>
  <time><%=post.time %></time>
  <hr />
  <div> <%= post.content %> </div>
</div>
